main {
    section:nth-child(1) {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #ccc;
        width: calc(100% - 2rem);
        h2 {
            position: absolute;
            bottom: 0;
        }
        h3 {
            text-align: center;
            font-size: 3rem;
        }
        .boxResult {
            width: 65%;
        }
        .boxMap {
            width: 35%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 1rem 0;
            ul {
                li {
                    padding: 0.5rem;
                }
            }
        }
    }
    section:nth-child(2) {
        padding: 1rem;
        display: flex;
    }
    section:nth-child(3) {
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
            background: #000;
            .weather {
                text-align: center;
                width: 80%;
                color: #fff;
                font-size: 1.5rem;
            }
        }
        width: 100%;
        padding: 1rem;
        li {
            list-style-type: none;
        }
        li:nth-child(2n+1) {
            background-color: #fff;
        }
    }
}