.result {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #FAF9F5;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
    span:nth-child(1) {
        margin-left: 3rem;
    }
    span:nth-child(2) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    span:nth-child(3) {
        margin-right: 3rem;
    }
}